<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.foodmark"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <!-- The following two permissions are not required to use
         Google Maps Android API v2, but are recommended. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-feature android:name="android.hardware.camera"/>

    <application
        android:name="com.android.foodmark.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCwWUXAq7SnC1WYzcKQJ8mRUw-MSpJTkT4"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.android.foodmark.activity.GooglePlaceListActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.android.foodmark.activity.GooglePlaceDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <!-- android:label="@string/app_name" -->
            <!--  meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow"/-->
        </activity>

        <activity android:name=".activity.AudioListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity android:name=".activity.VideoListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name=".activity.VideoDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity android:name=".activity.CameraActivity"
            android:screenOrientation="landscape">
        </activity>

        <activity android:name=".activity.FavoriteActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity android:name=".activity.PlaceTabActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <service android:name=".services.TimeOutService"></service>
    </application>


</manifest>
